@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">4G1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Bienvenidos a nuestra app PWA</a>.</p>
</div>
